body {
    margin: 0;
}

.container {
    display: flex;
    width:100vw;
    height:100vh;

}

.paragraph{
    display: flex;
}

.inputNum {
    width: 60px;
}

.settings {
    background-color: #eee;
    width:40vw;
}

.canvas {
    width:60vw;
}
